<?xml version="1.0"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?"/>
        </authorization>
    </system.web>
    <location path="admin">
        <system.web>
            <authorization>
                <allow roles="Admin, Agent0"/>
                <deny roles="Medical Staff, Non-Medical Staff"/>
            </authorization>
        </system.web>
    </location>
    <location path="medical_staff">
        <system.web>
            <authorization>
                <allow roles="Medical Staff, Agent0"/>
               
            </authorization>
        </system.web>
    </location>
    <location path="non_medical_staff">
        <system.web>
            <authorization>
                <allow roles="Non-Medical Staff, Agent 0"/>
                
            </authorization>
        </system.web>
    </location>
</configuration>
